@import "../../master-styles";

.skills {
  height: 100vh;

  .scroll-btn {
    text-align: center;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    cursor: pointer;
    width: 120px;
    margin: 0 0 50px auto;
    color: $text-primary;
    box-shadow: $box-shadow-small;
    padding: 10px 30px;
    span {
      color: $text-highlight;
    }
    &:hover {
      box-shadow: $box-shadow-large;
    }
  }

  .svg-grid {
    display: flex;
    justify-content: center;
  }

  .skills-table {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin: 50px auto;
    p {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      font-family: $font-secondary;
      color: $text-primary;
      letter-spacing: 1px;
      border-radius: 5px;
      border: 1px solid $text-secondary;
      height: 300px;
    }

    span {
      margin: 10px 0;
    }

    .skill-heading {
      color: $text-highlight;
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 800px) {
    margin-top: 10rem;
    padding: 2rem 0;
    .svg-grid {
      flex-wrap: wrap;
    }
    .skills-table {
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
      p {
        height: 250px;
      }
    }
  }
}
