@import "../../master-styles";

.about {
  display: flex;
  position: relative;

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
  }

  .about-buttons {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin: 0;
    letter-spacing: 1px;
    font-size: 4rem;
    color: $text-primary;
  }

  p {
    color: $text-secondary;
    font-family: $font-secondary;
    font-size: 1.5rem;
    width: 60%;
    &:first-of-type {
      color: $text-highlight;
    }
  }

  .about-btn {
    background-color: transparent;
    border: 2px solid $text-highlight;
    border-radius: 5px;
    padding: 60px;
    margin: 40px 0;
    font-size: 2rem;
    color: $text-highlight;
    cursor: pointer;
    box-shadow: $box-shadow-small;
    transition: all 0.5s ease;
    i {
      display: block;
    }

    &:hover {
      background: $text-highlight;
      color: $text-primary;
      box-shadow: $box-shadow-large;
    }
  }

  // .scroll-btn {
  //   text-align: center;
  //   position: absolute;
  //   display: flex;
  //   flex-direction: column;
  //   bottom: 10px;
  //   left: 0;
  //   letter-spacing: 2px;
  //   cursor: pointer;
  //   color: $text-primary;
  //   box-shadow: $box-shadow-small;
  //   padding: 10px 30px;
  //   span {
  //     color: $text-highlight;
  //   }
  //   &:hover {
  //     box-shadow: $box-shadow-large;
  //   }
  // }

  @media only screen and (max-width: 850px) {
    padding: 0 50px;
    flex-direction: column;
    margin-top: 7rem;
    .about-me,
    .about-buttons {
      width: 100%;
      align-items: center;
    }

    h1 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
