// $bg-dark: rgb(10, 25, 47);
// $bg-medium: rgb(68, 68, 68);
// $text-primary: rgb(204, 214, 246);
// $text-secondary: rgb(136, 146, 176);
// $text-highlight: rgb(100, 255, 218);

$bg-dark: rgb(10, 25, 47);
$bg-medium: #888888;
$text-primary: rgb(204, 214, 246);
$text-secondary: rgb(136, 146, 176);
$text-highlight: #39b08d;
$bg-highlight: #b75650;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;

$box-shadow-small: 3px 4px 17px 3px rgba(0, 0, 0, 0.4);
$box-shadow-large: 4px 5px 11px 7px rgba(0, 0, 0, 0.6);
